graft {{cookiecutter.project_slug}} doc test
global-exclude *.py[cod] __pycache__ *.so
include VERSION
include DATE
include LICENSE
recursive-include {{cookiecutter.project_slug}}/api/templates/ *
resursive-include {{cookiecutter.project_slug}}/api/static/ *
